html::-webkit-scrollbar {
  width: 5px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: var(--color-gray-opacity);
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: var(--color-aqua);
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: var(--color-black-coal);
}
.give-currency__block-list,
.receive-currency__block-list,
.privacy-cont {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #edf2f2;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d9dfdf;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bccacb;
  }
}
