:root {
  // ---------------------COLOR---------------------------------------
  --color-white: #ffffff;
  --color-bg: #f8f8f8;
  --color-black: #000000;
  --color-black-coal: rgb(57, 62, 70);
  --color-black-coal-opacity: #3f3f3f8e;
  --color-gray-light: #ebebeb;
  --color-gray-opacity: rgba(128, 128, 128, 0.545);
  --color-aqua: rgb(0, 173, 181);
  --color-dark-aqua: rgb(4, 113, 108);
  --color-light-white: rgb(188, 202, 203);
  // -------------------------FONTS-----------------------------------
  // -------------------------SECTION-PRICE--------------------------------
  --color-section-price: #000000;
  --color-section-price-title: #ffffff;
  // Effect
  --transition-standart: 250ms all ease;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg);
}
body,
html {
  scroll-behavior: smooth;
}
button {
  font-family: inherit;
  cursor: pointer;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
