.header-cont{
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-cont {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
.header__logo-block {
}
.header__logo-block__link {
}
.header__nav {
}
.header__nav-list {
}
.header__nav-list__item {
}