.main-cont {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
  @media screen and (min-width: 480px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
// shared styles
.give-currency,
.receive-currency,
.main-cont__data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
  @media screen and (min-width: 1200px) {
    width: 33%;
  }
}
.give-currency,
.receive-currency,
.exchange-currency,
.users-info {
  border-radius: 12px;
  background-color: var(--color-white);
  @media screen and (max-width: 479px) {
    padding: 10px;
  }
  @media screen and (min-width: 480px) {
    padding: 10px;
  }
  @media screen and (min-width: 768px) {
    padding: 15px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px;
  }
}

.give-currency__block-filter__list,
.receive-currency__block-filter__list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 600;
}
.give-currency__block-filter,
.receive-currency__block-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 479px) {
  }
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.give-currency__block-filter__list,
.receive-currency__block-filter__list {
  font-size: 11px;
  align-items: center;
}
.receive-currency__block-filter__list-item,
.give-currency__block-filter__list-item {
  padding: 3px;
  align-items: center;
}
.exchange-currency__block-calculator__give-header,
.exchange-currency__block-calculator__receive-header {
  display: flex;
}

.give-currency__block-list,
.receive-currency__block-list {
    padding: 10px 0px;

  @media screen and (max-width: 479px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
  }
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.give-currency__block-list__item-text,
.receive-currency__block-list__item-text {
  font-size: 12px;
}
.exchange-currency__block-calculator__give-header__icon-img,
.exchange-currency__block-calculator__receive-header__icon-img {
  width: 17px;
}
.exchange-currency__block-calculator__receive-header__icon,
.exchange-currency__block-calculator__give-header__icon {
  display: flex;
  gap: 5px;
  align-items: center;
}

.give-currency__block-filter__search,
.receive-currency__block-filter__search {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  font-size: 13px;
  border: none;
  border-radius: 12px;
  transition: box-shadow 0.3s ease;

  &:not(:placeholder-shown) {
    // Применяем стили, если элемент не пустой (содержит текст)
    box-shadow: rgba(4, 44, 46, 0.4) 0px 6px 12px -8px, rgba(4, 44, 46, 0.06) 0px 1px 8px;
  }

  &:focus {
    // Применяем стили, если элемент активен (выбран для ввода)
    box-shadow: rgba(4, 44, 46, 0.4) 0px 6px 12px -8px, rgba(4, 44, 46, 0.06) 0px 1px 8px;
  }
}
.give-currency__block-title,
.receive-currency__block-title {
}
.give-currency__block-filter__list,
.receive-currency__block-filter__list {
  color: var(--color-light-white);
}
.give-currency__block-menu,
.receive-currency__block-menu {
  display: flex;

  @media screen and (max-width: 479px) {
    flex-direction: column;
    gap: 15px;
  }
  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}
.give-currency__block-filter,
.receive-currency__block-filter {
  gap: 5px;
}
.give-currency__search-filter__label,
.receive-currency__search-filter__label {
  display: flex;
  gap: 5px;
  align-items: center;
}
// Give block
.give-currency {
}
.give-currency__block {
}
.give-currency__block-menu {
}
.give-currency__block-title {
}
.give-currency__search-filter {
}
.give-currency__block-filter {
}
.give-currency__block-filter__list {
}
.give-currency__block-filter__list-item {
  &.active {
    color: var(--color-aqua);
  }
}

.give-currency__block-filter__search {
}
.give-currency__block-list {
  display: grid;
}
.give-currency__block-list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px;
  transition: var(--transition-standart);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 1px 2px 5px var(--color-black-coal-opacity);
  }
}
.give-currency__block-list__item-img {
  width: 26px;
}
.give-currency__block-list__item-text {
}
// Receive block
.receive-currency {
}
.receive-currency__block {
}
.receive-currency__block-menu {
}
.receive-currency__block-title {
}
.receive-currency__block-filter {
}
.receive-currency__block-filter__list {
}
.receive-currency__block-filter__list-item {
}
.receive-currency__block-filter__search {
}
.receive-currency__block-list {
  display: grid;
}
.receive-currency__block-list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px;
  transition: var(--transition-standart);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 1px 2px 5px var(--color-black-coal-opacity);
  }
}
.receive-currency__block-list__item-img {
  width: 26px;
}
.exchange-currency__block-calculator__receive-header,
.exchange-currency__block-calculator__give-header {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.exchange-currency__block-calculator__give-field__input,
.exchange-currency__block-calculator__receive-field__input {
}
.exchange-currency__block-calculator__give-header__title,
.exchange-currency__block-calculator__receive-header__title {
  font-size: 13px;
}
.exchange-currency__block-calculator__give-header__icon-text,
.exchange-currency__block-calculator__receive-header__icon-text {
  font-size: 13px;
}
// main data
.main-cont__data {
}
// Exchange currency
.exchange-currency {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.exchange-notification {
  color: var(--color-black-coal);
  background: rgb(252, 237, 185);
  font-size: 12px;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
}
.exchange-empty-currency {
  font-size: 12px;
  color: var(--color-gray-opacity);
}
.exchange-currency__block {
}
.exchange-currency__block-title {
  margin-bottom: 15px;
}
.exchange-currency__block-calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exchange-currency__block-calculator__give {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.exchange-currency__block-calculator__give-header {
}
.exchange-currency__block-calculator__give-header__title {
}
.exchange-currency__block-calculator__give-header__icon {
}
.exchange-currency__block-calculator__give-header__icon-img {
}
.exchange-currency__block-calculator__give-header__icon-text {
}
.exchange-currency__block-calculator__give-field {
}
.exchange-currency__block-calculator__give-field__input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  background: rgb(243, 246, 247);
}
.exchange-currency__block-calculator__receive {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.exchange-currency__block-calculator__receive-header {
}
.exchange-currency__block-calculator__receive-header__icon {
}
.exchange-currency__block-calculator__receive-header__icon-img {
}
.exchange-currency__block-calculator__receive-header__icon-text {
}
.exchange-currency__block-calculator__receive-field {
}
.exchange-currency__block-calculator__receive-field__input {
}
.exchange-currency__block-calculator__receive-field__message {
  font-size: 12px;
  color: gray;
}
// User info
.users-info {
}
.users-info__block {
}
.users-info__block-title {
  margin-bottom: 15px;
}
.users-info__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.users-info__form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.users-info__form-label__describe {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-black-coal);
}
.users-info__form-label__input {
  width: 100%;
  padding: 15px 21px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  background: rgb(243, 246, 247);
}

.users-info__form-label__checkbox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.users-info__form-label__checkbox-field {
}
.users-info__form-label__checkbox-text {
  font-size: 12px;
}
.users-info__form-submit {
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--color-aqua);
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
