.privacy-cont {
  max-height: 580px;
  overflow-y: scroll;
  color: #393e46;
  p,
  ul {
    line-height: 1.5;
  }
}
.privacy-title {
  margin-bottom: 10px;
  font-size: 14px;
}
.privacy-cont p {
  margin-bottom: 10px;
  font-size: 14px;
}
.privacy-list {
  font-size: 14px;
  li {
    margin-bottom: 10px;
    list-style: inside;
  }
}
